<!-- this page makes API calls, so include script -->
<script src="scripts/api-localboards.js"></script>


<div class="board-wrapper header">
<div class="board-openings nobg">
  <!--<div class="badge-container">
    <div class="row">
      <div class="row-fluid">
        <div class="span4"><b>{{board.seatsOpen}}</b> / <b>{{board.seatLimit}}</b> <small>SEATS OPEN</small></div>
        
      </div>
    </div>
  </div>-->
  <span class="board-label">Board</span>
</div>
  <div class="board-main">
    <span class="title">{{board.title}}</span>
  </div>
</div>
<div class="board-openings nobg">

  <div id="loading">loading...<br /></div>
  <div class="span4"><b>{{board.seatsOpen}}</b> / <b>{{board.seatLimit}}</b> <small>SEATS OPEN</small></div>
        
  <div ng-if="board.alternating_seats">
    ({{board.alternating_seats}} alternating seats)
  </div>
  <div class="span4">
      <span ng-if="board.is_active">
          <b>IS </b>
      </span>
      <span ng-if="! board.is_active">
          <b>NOT </b>
      </span>
      <small>ACTIVE</small>
  </div>
  <div class="board-meta">
    <span class="created">
      <label>Created at</label> {{board.created_at}}
    </span>
    <span class="created">
      <label>Created by ID</label>
      {{board.created_by_id}}
    </span>
  </div>
  <!--<div class="badge-container">
    <div class="row">
      <div class="row-fluid">
        <div class="span4"><b>{{board.seatLimit}}</b><br/><small>SEATS</small></div>
        <div class="span4"><b>{{board.seatsOpen}}</b><br/><small>SEATS<br />OPEN</small></div>
        <div class="span4">
            <span ng-if="board.is_active">
                <b>IS</b>
            </span>
            <span ng-if="! board.is_active">
                <b>NOT</b>
            </span>
            <br />
            <small>ACTIVE</small>
        </div>
      </div>
      <div ng-if="board.alternating_seats">
        ({{board.alternating_seats}} alternating seats)
      </div>
    </div>
  </div>-->
</div>
<div class="board-main">
  <!--<h1>{{board.title}}</h1>-->
  
  <div class="caption">
    <p>{{board.duties}}</p>
  </div>

  <div class="section">
    <div class="orgInfo">
      <h3>Meeting Info</h3>
      <table class="paddedTable">
        <tbody>
          <tr ng-if="board.meeting_dates.length">
            <td>Meeting Dates:</td>
            <td>{{board.meeting_dates}}</td>
          </tr>
          <tr ng-if="board.meeting_place.length">
            <td>Meeting Place:</td>
            <td>{{board.meeting_place}}</td>
          </tr>
          <tr ng-if="board.meeting_time.length">
            <td>Meeting Time:</td>
            <td>{{board.meeting_time}}</td>
          </tr>
          <tr ng-if="board.url.length">
            <td>More Info:</td>
            <td><a href="{{board.url}}" target="_blank">Website</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="qualifications" ng-if="board.qualifications.length">
      <h3>Qualifications to Apply</h3>
      <span>{{board.qualifications}}</span>
    </div>
    <div class="openings" ng-if="board.openings.length">
      <h3>Upcoming Open Seats</h3>
      <table class="paddedTable">
        <theader>
          <tr>
            <th>Position</th>
            <th>Date of Opening</th>
          </tr>
        </theader>
        <tbody ng-repeat="opening in board.openings">
          <tr>
            <td>{{opening.qualifications}}</td>
            <td>{{opening.opening}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="members">
      <h3>Members</h3>
      <ul ng-if="board.members.length" ng-repeat="member in board.members" >
        <li class="member">
          <span class="memberName">{{member.first_name}} {{member.last_name}}</span><span class="memberTitle" ng-if="member.title.length">, {{member.title}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>