<div class="board-wrapper">
	<div class="board-openings nobg"></div>
	<div class="board-main">
		<h1>Local Boards</h1>

		<p>LocalBoards.org organizes board openings, qualifications, dates of appointments and the like. Essentially a one-stop shop for the most accessible levels of government, localboards.org was smarty built to be sclable to various levels of government and a wide array of geographies.</p>

		<p>It was the first-place project from Hack Omaha III, an open-data coding competition.</p>

		<h3>Problem identification:</h3>

		<p>Given a Microsoft Word file, our team was asked to build a system for displaying, distributing and managing details about boards within Nebraska focusing mainly on Douglas County.</p>

		<h3>Initial Solution Identified:</h3>

		<p>Build a RESTful API that supported 90% of the business logic as a solution. This would enable anyone to build a client around the web service and gain access to all of the functions that are envisioned.</p>

		<p>Construct a user interface to demonstrate a subset of the features envisioned for the web service.</p>

		<h3>Obstacles with Data:</h3>

		<ul>
			<li>ALL of the content was in non-structured MS Word files.</li>
			<li>No two documents shared the same format or level of detail.</li>
			<li>Large gaps in the data presented to the public</li>
			<li>Unable to locate board members</li>
			<li>Unable to determine what all of the seats/positions a board may have (only vacancies were documented.)</li>
			<li>Missing historical, current and future detail on initiatives and/or agendas.</li>
			<li>Missing historical meeting minutes about decisions made by the boards.</li>
		</ul>

		<h3>Final Solution Developed:</h3>

		<p>A proof-of-concept web service was constructed that displayed all boards by state only. We incorporated the use of sub domains to shard information by county &amp; state.</p>

		<p>The solution was fast and provided a good roadmap on how to expand the web service to support any city, county and state in the country.</p>

		<p>The user interface constructed displayed information for desktop &amp; mobile devices.</p>

		<h3>Team members:</h3>
		<ul>
			<li>Lora Frecks: Data Mining / Data Entry / Board Research / SME</li>
			<li>Cody Winchester: Data Mining / Data Entry / SME</li>
			<li>Mitch Barry: Front-End Development</li>
			<li>Noah Koch: API Construction (resident ruby expert)</li>
			<li>Dave Burchell: Advisory, Presentation Proofing</li>
			<li>Jay Hannah: Database Integration / Database Construction & Seeding</li>
			<li>Ryan Walker: Platform Setup / JavaScript Bridge Between UI & API / Development Support / Planning</li>
		</ul>

		<p><strong>Main team contact</strong></p>
		<ul>
			<li>Ryan Walker (239) 682 7459</li>
			<li>Lora Frecks (402) 541 6260</li>
		</ul>

		<p>Check it out on GitHub!</p>
	</div>
</div>